<a href="https://colab.research.google.com/github/Sabarishvarma/-difference-of-two-numbers/blob/main/list_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
fruits = ["apple", "banana", "cherry"]

fruits.append("orange")

print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [13]:
fruits.pop(1)
print(fruits)

['apple', 'cherry', 'orange']

['apple', 'cherry', 'orange']

In [15]:
cars = ["Audi", "Bmw", "Rolls Roys"]
cars.append("Range Rover")
print(cars)

['Audi', 'Bmw', 'Rolls Roys', 'Range Rover']

In [16]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [17]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [18]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [19]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>